html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #111827;
  font-family: 'Fira Code', monospace;
}

body {
  user-select: none; /* prevent any text selection */
}

* {
  font-variant-ligatures: contextual;
  scrollbar-width: thin;
  scrollbar-color: #374151 #0f172a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}
